<!-- Side page components -->
<div class='side-page'>
    <!-- Profile component -->
   <app-profile-card></app-profile-card>

    <!-- Management component -->
    <div class='management-box'>
        <ul class='management-fields'>
            <li><p>Management</p></li>
            <li><p>Anunturile tale</p></li>
            <li><p>Recenzii</p></li>
            <li><p>Despre</p></li>
        </ul>
    </div>

    <!-- Garden component *tf is this supposed to mean?*-->
    <div class='garden-box'>
        <p class='garden-title'>Gradina</p>
        <ul class='vegetables'>
            <li>Mere</li>
            <li>Visine</li>
            <li>Capsuni</li>
            <li>Caise</li>
            <li>Pere</li>
        </ul>
    </div>

    <!-- Description component  -->
    <div class='description-box'>
        <p class='description-title'>Descriere</p>
        <p class='description-content'>
            buna ziua sunt un producator minunat de fructe si legume 
            as dori sa aberez putin pe aici.
        </p>
        <hr>

        <!-- Another accounts box component -->
        <div class='accounts-box'>
            <p class='account-title'>Alte conturi</p>
            <div class='facebook-box'>
                <img class='facebook-icon' src='../../../../../assets/img/user-profile/facebook-green.svg' />
                <p class='facebook-text'>Facebook</p>
            </div>
        </div>
    </div>

</div>

<!-- Main page components -->
<div class='main-page'>
    <!-- Background picture component -->
    <div class='background-box'>
        <img class='background-picture' src = '../../../../../assets/img/user-profile/background-picture.svg' />
    </div>

    <!-- Messages, statistics, purchase-history component -->
    <ul class='mini-navbar'>
        <li class='messages'>
            <p>Mesaje</p>
        </li>
        <li class='statistics'>
            <p>Statistici</p>
        </li>
        <li class='purchase-history'>
            <p>Istoric cumparaturi</p>
        </li>
    </ul>
</div>