<div class='profile-box'>
    <img class='profile-picture' src = '../../../../../assets/img/user-profile/profile-picture.png' />
    <p class='username'>{{ fields.first_name + " " + fields.last_name }}</p>
    <ul class='rating-bar'>
        <li><img src='../../../../../assets/img/user-profile/star.svg'/></li>
        <li><img src='../../../../../assets/img/user-profile/star.svg'/></li>
        <li><img src='../../../../../assets/img/user-profile/star.svg'/></li>
        <li><img src='../../../../../assets/img/user-profile/star.svg'/></li>
        <li><img src='../../../../../assets/img/user-profile/negative-star.svg'/></li>
        <p class='rating-number'>4,5</p>
    </ul>
    <hr class='space1'>
    <div class='location'>
        <img class='location-icon' src='../../../../../assets/img/user-profile/location-icon.svg' />
        <p class='location-name'>Timisoara, Jud. Timis</p>
    </div>
    <div class='member'>
        <img class='member-icon' src='../../../../../assets/img/user-profile/member-icon.svg' />
        <p class='member-since'>Membru din 12/12/2017</p>
    </div>
    <hr class='space2'>
    <div class='holiday'>
        <img class='plane-icon' src='../../../../../assets/img/user-profile/plane-icon.svg'/>
        <p class='holiday-text'>In concediu</p>
    </div>
</div>