<form class="form-container" [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
  <div class="row">
    <div class="form-group col-md-6">
      <label for="first-name">Nume</label>
      <input id="first-name" formControlName="first_name" type="text" class="form-control no-outline">
      <div *ngIf="submitted && field.firstName.errors" class="form-invalid-fields">
        <span *ngIf="field.firstName.errors.required"> First Name is required</span>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="password">Parola</label>
      <input id="password" formControlName="password" type="password" class="form-control no-outline">
      <div *ngIf="submitted && field.password.errors" class="form-invalid-fields">
        <span *ngIf="field.password.errors.required">Password is required</span>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="last-name">Prenume</label>
      <input id="last-name" formControlName="last_name" type="text" class="form-control no-outline">
      <div *ngIf="submitted && field.lastName.errors" class="form-invalid-fields">
        <span *ngIf="field.lastName.errors.required"> First Name is required</span>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="confirm-password">Confirma Parola</label>
      <input id="confirm-password" formControlName="confirmPassword" type="password" class="form-control no-outline">
      <div *ngIf="submitted && field.confirmPassword.errors" class="form-invalid-fields">
        <span *ngIf="field.confirmPassword.errors.required">Confirm Password is required</span>
        <span *ngIf="field.confirmPassword.errors.mustMatch">Passwords must match</span>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="text" class="form-control no-outline">
      <div *ngIf="submitted && field.email.errors" class="form-invalid-fields">
        <span *ngIf="field.email.errors.required">Email is required</span>
        <span *ngIf="field.email.errors.pattern">Email is invalid</span>
      </div>
    </div>
    
    <div id="terms-conditions" class="form-control">
      <input type="checkbox" formControlName="termsConditions">
      <span>Accept <a>termenii si conditile</a></span>
      <div *ngIf="submitted && field.termsConditions.errors" class="form-invalid-fields">
        <span *ngIf="field.termsConditions.errors.required">Terms and conditions we're not accepted</span>
      </div>
    </div>
    <div id="terms-conditions" class="form-control">
      <input type="checkbox" formControlName="is_doctor">
      <span>Sunt Doctor</span>
      <div *ngIf="submitted && field.termsConditions.errors" class="form-invalid-fields">
        <span *ngIf="field.termsConditions.errors.required">Terms and conditions we're not accepted</span>
      </div>
    </div>
    <div id="terms-conditions" class="form-control">
      <input type="checkbox" formControlName="is_pacient">
      <span>Sunt Pacient</span>
      <div *ngIf="submitted && field.termsConditions.errors" class="form-invalid-fields">
        <span *ngIf="field.termsConditions.errors.required">Terms and conditions we're not accepted</span>
      </div>
    </div>
  </div>
  <div class="form-buttons">
    <button class="default-bios-btn">
      <span>Continua</span>
      <img src="assets/img/home/become_seller_banner/arrow.svg">
    </button>
    <div class="facebook-bios-btn facebook-btn">
      <img src="../../../../assets/img/shared/facebook-icon.png">
      <span>Logare cu Facebook</span>
    </div>
  </div>
</form>
